# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["deployment"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
      - name: Compile Latex
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            APAL/appunti.tex
            APS/appunti.tex
            ARCH/appunti.tex
            BIOINF/appunti.tex
            MCOR/appunti.tex
            ROPR/appunti.tex
            ROPR/assignments/1/appunti.tex
            ROPR/assignments/2/appunti.tex
            ROPR/assignments/3/appunti.tex
            SAF/appunti.tex
            SCMT/appunti.tex
            TCOM/appunti.tex
            TELE/appunti.tex
            INFO/appunti.tex
            ADS/appunti.tex
            ADS/project/main.tex
            ADS/deployability/report.tex
            REV/appunti.tex
            REV/project/report.tex
            REV/project/slides.tex
            REV/assignments/codescene/slides.tex
            REV/assignments/detecting-duplicated-code/slides.tex
            REV/assignments/transform-conditionals-to-polymorphism/slides.tex
            IR/appunti.tex
            CC/appunti.tex
            LIT/appunti.tex
            SDL/appunti.tex
            EA/appunti.tex
          work_in_root_file_dir: true
      - name: Create Static Dist Directory
        run: |
          ./static.sh
      - name: Configure Pages
        uses: actions/configure-pages@v2
      - name: Zip and Upload Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './static/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
